@charset "UTF-8";
*{
    width: 0;
    height: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium","游ゴシック Medium","YuGthic","ヒラギノ角ゴ Pro W3","sans-serif";
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}